@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

.btn{
    background-color: #EAECF0;
    color: #101828;
    padding: 24px 32px;
    display: block;
    width: 100%;
    height: 76px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
}

.btn:hover{
    background-color: #F2F4F7;
}

.main{
    padding: 0 9rem;
    flex-grow: 1;
}

.arrow{
    position: absolute;
    left: 80%;
}

.dot{
    position: absolute;
    display: none;
    left: 80%;
}

.header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 64px;
    text-align: center;
}

.header h1{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    margin-top: 1.5rem;
}

.content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    margin: 30px;
    flex-grow: 1;
}

.content div{
    margin: 30px;
}

.main .content a{
    margin-bottom: 24px;
}

.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 40px;
}

.socials img{
    margin: 4px 5px;
    cursor: pointer;
}

footer{
    padding: 0 7rem;
}

footer hr{
    border: 1px solid #EAECF0;
}

.footer{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-top: 30px;
    margin-bottom: 30px;
}

.footer div h3{
    color: #667085;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}


@media(max-width:991px){

    html{
        font-size: 55%;
    }
}



@media(max-width:768px){
    .arrow{
        display: none;
    }

    .dot{
        display: initial;
    }
    
    .main{
        padding: 0 0rem;
    }

    footer{
        padding: 0 2rem;
    }

    .footer{
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }
    .footer div{
        margin-bottom: 1rem;
    }
}



/******** CONTACT ********/

section .contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin-top: 9.75rem;
    margin-bottom: 11.75rem;
}

.contact .head-cnt {
    margin-bottom: 1.875rem;
}
.contact .head-cnt h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 20px;
}
.contact .head-cnt p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
}


form{
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #344054;
}

form input{
    height: 44px;
    width: 348px;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    padding: 10px 14px;
}

form input:hover, textarea:hover{
    border: 2px solid #84CAFF;
}
input::selection{
    border: 2px solid #84CAFF;
}

form .email-input input{
    width: auto;
}

form .name-cont{
    display: flex;
    flex-direction: row;

}

form .submit input{
    width: 100%;
}

form .submit input:hover{
    background-color: #B2DDFF;
}

.submit-btn{
    margin-top: 30px;
    background-color: #175CD3;
    color: #FFFFFF;
    cursor: pointer;
}



.align-row{
    display: flex;
    flex-direction: column;
    margin: 10px 10px 24px 0px;
}

textarea{
    height: 132px;
    padding: 12px 14px;
    border-radius: 8px;
    border: 1px solid #d0d5dd;
    resize: none;
}


form p{
    margin: 2px;
    color: hsl(8, 94%, 55%);
}


.check{
    margin-top: 24px;
    display: flex;
    flex-direction: row;
}
.boxcheck{
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
label{
    margin-bottom: 6px;
}



@media(max-width:768px){
    section .contact{
        padding: 46px 16px;
    }
    .align-row{
        flex-direction: column; 
    }
    .contact input{
        width: auto;
    }
    .name-cont{
        flex-direction: column !important;
    }
}